<template>
  <v-container>
    <v-toolbar color="cyan" dark flat>
      <template v-slot:extension>
        <v-tabs v-model="tab" align-with-title>
          <v-tabs-slider color="yellow"></v-tabs-slider>

          <v-tab
            v-for="item in items"
            :key="item.id"
            @click="currentTab = item.text"
          >
            {{ item.text }}
          </v-tab>
        </v-tabs>
      </template>
    </v-toolbar>

    <v-tabs-items v-model="tab">
      <v-tab-item v-for="item in items" :key="item.id"
        ><keep-alive>
          <component :is="currentTabComponent"></component>
        </keep-alive>
      </v-tab-item>
    </v-tabs-items>
  </v-container>
</template>

<script>
import axios from "axios";
import Swal from "sweetalert2";
import formulario from "../components/formulario";
import camara from "../components/camara";
import firma from "../components/firma";

export default {
  components: {
    formulario,
    camara,
    firma,
  },
  data() {
    return {
      tab: null,
      items: [],
      tabs: [],
      tabs: { 1: "form", 2: "camara", 3: "firma" },
      text: "prueba",
      currentTab: "",
    };
  },
  computed: {
    currentTabComponent() {
      return this.currentTab.toLowerCase();
    },
  },
  created() {
    this.uuid = this.$route.params.uuid;
    if (localStorage.getItem("token")) {
      axios
        .get(this.API_URL + "/api/flujo/buscar/" + this.$route.params.uuid, {
          headers: {
            "Content-Type": "application/json",
            Accept: "application/json",
            Authorization: "Bearer " + localStorage.getItem("token"),
          },
        })
        .then((response) => {
          console.log(response);
          if (response) {
            this.items = response.data;
            this.items.forEach((element) => {
              switch (element.componente) {
                case 1:
                  element.text = "Formulario";
                  break;
                case 2:
                  element.text = "Camara";
                  break;
                case 3:
                  element.text = "Firma";
                  break;
              }
              this.currentTab = this.items[0].text.toLowerCase();
            });
          } else {
            this.$router.push("/");
          }
        })
        .catch((error) => {
          Swal.fire({
            allowOutsideClick: false,
            title: "Error",
            text: "Error no se puede acceder a esta ruta",
            icon: "error",
          });
          console.error(error);
          this.$router.push("/");
        });
    } else {
      Swal.fire({
        allowOutsideClick: false,
        title: "Error",
        text: "No definido token",
        icon: "error",
      }).then((result) => {
        this.$router.push("/");
      });
    }
  },
  methods: {},
};
</script>
