<template>
  <inicio />
</template>

<script>
import inicio from "../components/inicio";
import formulario from "../components/formulario";
import camara from "../components/camara";
import firma from "../components/firma";
import Inicio from "../components/inicio.vue";

export default {
  name: "Home",

  components: {
    inicio,
    formulario,
    camara,
    firma,
  },
};
</script>
