<template>
  <v-container>
    <v-spacer></v-spacer>
    <div class="transition-swing text-h4">Grabación 10 seg</div>
    <v-spacer></v-spacer>
    <v-row>
      <v-col cols="12" sm="12">
        <h2>Cámara actual</h2>
        <code v-if="device">{{ device.label }}</code>
        <div class="border">
          <video
            autoplay
            playsinline
            ref="video"
            height="500"
            width="700"
          ></video>
          <p>{{ duracion }}</p>
        </div>
        <div>
          <v-col>
            <v-btn color="primary" :disabled="disabled" @click="capturar">
              Iniciar grabación
            </v-btn>
          </v-col>
          <v-col>
            <v-btn color="teal" v-show="ver" @click="guardar">
              Guardar
            </v-btn>
          </v-col>
        </div>
      </v-col>
    </v-row>
  </v-container>
</template>
<script>
import RecordRTC from "recordrtc";
import axios from "axios";
import Swal from "sweetalert2";

export default {
  data() {
    return {
      deviceId: null,
      devices: [],
      mediaRecorder: null,
      recorder: null,
      disabled: false,
      ver: false,
      tiempoInicio: 0,
      idIntervalo: 0,
      nombreArchivo: "",
      objetoArchivo: "",
      duracion: "Se grabaran unicamente los primeros 10 segundos",
      camera: null,
    };
  },
  created() {
    axios
      .get(this.API_URL + "/api/obtenerIdComponente", {
        headers: {
          "Content-Type": "application/json",
          Accept: "application/json",
          Authorization: "Bearer " + this.token,
        },
        params: {
          uuid: this.$route.params.uuid,
          componente: 2,
        },
      })
      .then((response) => {
        if (response.status === 200) {
          this.id = response.data[0].id;
        }
      });
  },
  computed: {
    device: function() {
      return this.devices.find((n) => n.deviceId === this.deviceId);
    },
  },
  watch: {
    camera: function(id) {
      this.deviceId = id;
    },
    devices: function() {
      const [first, ...tail] = this.devices;
      if (first) {
        this.camera = first.deviceId;
        this.deviceId = first.deviceId;
      }
    },
  },
  created() {
    const tieneSoporteUserMedia = () => !!navigator.mediaDevices.getUserMedia;
    if (typeof MediaRecorder === "undefined" || !tieneSoporteUserMedia())
      return alert(
        "Tu navegador web no cumple los requisitos; por favor, actualiza a un navegador como Firefox o Google Chrome"
      );
    this.llenarLista();
  },
  mounted() {
    this.video = document.querySelector("video");
  },
  methods: {
    segundosATiempo(numeroDeSegundos) {
      let horas = Math.floor(numeroDeSegundos / 60 / 60);
      numeroDeSegundos -= horas * 60 * 60;
      let minutos = Math.floor(numeroDeSegundos / 60);
      numeroDeSegundos -= minutos * 60;
      numeroDeSegundos = parseInt(numeroDeSegundos);
      if (horas < 10) horas = "0" + horas;
      if (minutos < 10) minutos = "0" + minutos;
      if (numeroDeSegundos < 10) numeroDeSegundos = "0" + numeroDeSegundos;

      return `${horas}:${minutos}:${numeroDeSegundos}`;
    },
    llenarLista() {
      navigator.mediaDevices.enumerateDevices().then((dispositivos) => {
        dispositivos.forEach((dispositivo, indice) => {
          if (dispositivo.kind === "videoinput") {
            this.devices.push(dispositivo);
          }
        });
      });
    },
    refrescar() {
      if ((Date.now() - this.tiempoInicio) / 1000 > 10) {
        this.ver = true;
        this.detener();
      }
      this.duracion = this.segundosATiempo(
        (Date.now() - this.tiempoInicio) / 1000
      );
    },
    comenzarAContar() {
      this.tiempoInicio = Date.now();
      this.idIntervalo = setInterval(this.refrescar, 500);
    },
    detenerConteo() {
      clearInterval(this.idIntervalo);
      this.tiempoInicio = null;
      console.log(this.duracion);
      this.duracion = "Captura correcta";
    },

    capturar() {
      this.disabled = true;
      this.capturarImagen((camera) => {
        const video = this.$refs["video"];
        video.muted = true;
        video.volume = 0;
        video.srcObject = camera;
        this.recorder = RecordRTC(camera, {
          type: "video",
        });
        this.recorder.startRecording();
        this.comenzarAContar();
        // release camera on stopRecording
        this.recorder.camera = camera;

        this.disabled = true;
      });
    },
    detener() {
      this.disabled = false;
      this.recorder.stopRecording(this.detenerGrabacion);
    },
    capturarImagen(callback) {
      navigator.mediaDevices
        .getUserMedia({ audio: true, video: true })
        .then(function(camera) {
          callback(camera);
        })
        .catch(function(error) {
          alert("No se puede usar la cámara.");
          console.error(error);
        });
    },
    detenerGrabacion() {
      const video = this.$refs["video"];
      video.src = video.srcObject = null;
      video.muted = false;
      video.volume = 1;
      video.src = URL.createObjectURL(this.recorder.getBlob());

      var blob = this.recorder.getBlob();
      this.nombreArchivo = this.obtenerNombre("webm");
      this.objetoArchivo = new File([blob], this.nombreArchivo, {
        type: "video/webm",
      });
      var formData = new FormData();
      formData.append("video-blob", this.objetoArchivo);
      formData.append("video-filename", this.objetoArchivo.name);

      this.recorder.camera.stop();
      this.recorder.destroy();
      this.recorder = null;

      this.detenerConteo();
    },

    obtenerNombre(extension) {
      var d = new Date();
      var year = d.getUTCFullYear();
      var month = d.getUTCMonth();
      var date = d.getUTCDate();
      return (
        "RecordRTC-" +
        year +
        month +
        date +
        "-" +
        this.obtenerRandom() +
        "." +
        extension
      );
    },
    obtenerRandom() {
      if (
        window.crypto &&
        window.crypto.getRandomValues &&
        navigator.userAgent.indexOf("Safari") === -1
      ) {
        var a = window.crypto.getRandomValues(new Uint32Array(3)),
          token = "";
        for (var i = 0, l = a.length; i < l; i++) {
          token += a[i].toString(36);
        }
        return token;
      } else {
        return (Math.random() * new Date().getTime())
          .toString(36)
          .replace(/\./g, "");
      }
    },
    guardar() {
      axios
        .get(this.API_URL + "/api/obtenerIdComponente", {
          headers: {
            "Content-Type": "application/json",
            Accept: "application/json",
            Authorization: "Bearer " + this.token,
          },
          params: {
            uuid: this.$route.params.uuid,
            componente: 2,
          },
        })
        .then((response) => {
          if (response.status === 200) {
            this.id = response.data[0].id;

            this.disabled = false;
            var datos = {
              nombreArchivo: this.nombreArchivo,
              objetoArchivo: this.objetoArchivo,
            };
            var data = new FormData();
            data.append("flujoComponente_id", this.id);
            data.append("componente", 2);
            data.append("datos", JSON.stringify(datos));
            var config = {
              method: "post",
              url: this.API_URL + "/api/guardarComponente",
              headers: {
                Accept: "application/json",
                Authorization: "Bearer " + localStorage.getItem("token"),
              },
              data: data,
            };
            axios(config)
              .then(function(response) {
                Swal.fire({
                  allowOutsideClick: false,
                  title: "Guardado",
                  text: "Se ha guardado correctamente",
                  icon: "success",
                });
              })
              .catch(function(error) {
                console.log(error);

                Swal.fire({
                  allowOutsideClick: false,
                  title: "Error",
                  text: "Error se ha terminado el tiempo del token",
                  icon: "error",
                });
              });
          }
        });
    },
  },
};
</script>
