<template>
  <v-container>
    <v-spacer></v-spacer>
    <div class="transition-swing text-h4">Firma</div>
    <v-spacer></v-spacer>
    <div class="row">
      <div class="col-12 mt-2">
        <VueSignaturePad
          id="signaturePad"
          width="100%"
          height="500px"
          ref="signaturePad"
          :options="options"
        />
      </div>
    </div>
    <div class="row">
      <div class="col-3 mt-2">
        <v-btn color="deep-orange" @click="deshacer">Deshacer</v-btn>
      </div>
      <div class="col-3 mt-2">
        <v-btn color="teal" @click="guardar">Guardar</v-btn>
      </div>
    </div>
  </v-container>
</template>
<script>
import axios from "axios";
import Swal from "sweetalert2";

export default {
  data() {
    return {
      firma: null,
      options: {
        penColor: "#0B630D",
      },
    };
  },
  methods: {
    deshacer() {
      this.$refs.signaturePad.undoSignature();
    },
    guardar() {
      axios
        .get(this.API_URL + "/api/obtenerIdComponente", {
          headers: {
            "Content-Type": "application/json",
            Accept: "application/json",
            Authorization: "Bearer " + this.token,
          },
          params: {
            uuid: this.$route.params.uuid,
            componente: 3,
          },
        })
        .then((response) => {
          if (response.status === 200) {
            this.id = response.data[0].id;

            var datos = JSON.stringify(this.$refs.signaturePad.toData());
            var data = new FormData();
            data.append("flujoComponente_id", this.id);
            data.append("componente", 3);
            data.append("datos", datos);

            var config = {
              method: "post",
              url: this.API_URL + "/api/guardarComponente",
              headers: {
                Accept: "application/json",
                Authorization: "Bearer " + localStorage.getItem("token"),
              },
              data: data,
            };
            axios(config)
              .then(function(response) {
                Swal.fire({
                  allowOutsideClick: false,
                  title: "Guardado",
                  text: "Se ha guardado correctamente",
                  icon: "success",
                });
              })
              .catch(function(error) {
                console.log(error);

                Swal.fire({
                  allowOutsideClick: false,
                  title: "Error",
                  text: "Error se ha terminado el tiempo del token",
                  icon: "error",
                });
              });
          }
        });
    },
  },
};
</script>

<style>
#signature {
  border: double 3px transparent;
  border-radius: 5px;
  background-image: linear-gradient(white, white),
    radial-gradient(circle at top left, #4bc5e8, #9f6274);
  background-origin: border-box;
  background-clip: content-box, border-box;
}
</style>
