<template>
  <v-container>
    <v-spacer></v-spacer>
    <div class="transition-swing text-h4">Formulario de datos personales</div>
    <v-spacer></v-spacer>
    <v-form v-model="valid">
      <v-alert type="error" v-show="disabled"
        >Debe llenar todos los datos</v-alert
      >

      <v-row>
        <v-col cols="12" sm="12">
          <v-text-field
            label="Nombre completo "
            :rules="requiredRules"
            hide-details="auto"
            v-model="nombre"
          ></v-text-field>
        </v-col>
        <v-col cols="12" sm="12">
          <v-text-field
            label="Fecha de nacimiento"
            :rules="requiredRules"
            hide-details="auto"
            type="date"
            v-model="fecha"
          ></v-text-field>
        </v-col>
        <v-col cols="12" sm="12">
          <v-text-field
            label="Lugar de nacimiento"
            :rules="requiredRules"
            hide-details="auto"
            v-model="lugar"
          ></v-text-field>
        </v-col>
        <v-col cols="12" sm="12">
          <v-text-field
            label="Correo electrónico"
            :rules="correoRules"
            hide-details="auto"
            v-model="correo"
          ></v-text-field>
        </v-col>
        <v-col cols="12" sm="12">
          <v-text-field
            label="Numero de telefono "
            :rules="requiredRules"
            hide-details="auto"
            type="number"
            v-model="telefono"
          ></v-text-field>
        </v-col>
      </v-row>
    </v-form>
    <v-row>
      <v-col> <v-btn @click="guardar" color="teal">Guardar</v-btn></v-col>
    </v-row>
  </v-container>
</template>
<script>
import axios from "axios";
import Swal from "sweetalert2";
export default {
  data: () => ({
    nombre: "",
    fecha: "",
    lugar: "",
    correo: "",
    telefono: "",
    disabled: false,
    valid: false,
    requiredRules: [(v) => !!v || "Campo requerdo"],
    correoRules: [
      (v) => !!v || "E-mail is required",
      (v) => /.+@.+/.test(v) || "E-mail must be valid",
    ],
  }),
  created() {
    axios
      .get(this.API_URL + "/api/obtenerIdComponente", {
        headers: {
          "Content-Type": "application/json",
          Accept: "application/json",
          Authorization: "Bearer " + this.token,
        },
        params: {
          uuid: this.$route.params.uuid,
          componente: 1,
        },
      })
      .then((response) => {
        if (response.status === 200) {
          this.id = response.data[0].id;
        }
      });
  },
  methods: {
    guardar() {
      axios
        .get(this.API_URL + "/api/obtenerIdComponente", {
          headers: {
            "Content-Type": "application/json",
            Accept: "application/json",
            Authorization: "Bearer " + this.token,
          },
          params: {
            uuid: this.$route.params.uuid,
            componente: 2,
          },
        })
        .then((response) => {
          if (response.status === 200) {
            if (this.valid) {
              this.disabled = false;
              var datos = {
                nombre: this.nombre,
                fecha: this.fecha,
                lugar: this.lugar,
                correo: this.correo,
                telefono: this.telefono,
              };
              var data = new FormData();
              data.append("flujoComponente_id", this.id);
              data.append("componente", 1);
              data.append("datos", JSON.stringify(datos));
              var config = {
                method: "post",
                url: this.API_URL + "/api/guardarComponente",
                headers: {
                  Accept: "application/json",
                  Authorization: "Bearer " + localStorage.getItem("token"),
                },
                data: data,
              };
              axios(config)
                .then(function(response) {
                  Swal.fire({
                    allowOutsideClick: false,
                    title: "Guardado",
                    text: "Se ha guardado correctamente",
                    icon: "success",
                  });
                })
                .catch(function(error) {
                  console.log(error);

                  Swal.fire({
                    allowOutsideClick: false,
                    title: "Error",
                    text: "Error se ha terminado el tiempo del token",
                    icon: "error",
                  });
                });
            }
          }
        });
    },
  },
};
</script>
