<template>
  <v-container>
    <v-row no-gutters>
      <v-card class="mx-auto" max-width="400">
        <v-card-text>
          <p class="display-1 text--primary">
            Ingrese el uuid del fujo
          </p>
          <v-form v-model="valid">
            <div>
              <v-text-field
                v-model="uuid"
                label="UUID"
                hide-details="auto"
                :rules="uuidRules"
                required
              ></v-text-field>
              <v-text-field
                v-model="token"
                label="Token"
                hide-details="auto"
                :rules="tokenRules"
                required
              ></v-text-field>
            </div>
          </v-form>
        </v-card-text>
        <v-card-actions>
          <v-btn text color="teal accent-4" @click="iniciar">
            Iniciar
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-row>
  </v-container>
</template>
<script>
import axios from "axios";
import Swal from "sweetalert2";
export default {
  data: () => ({
    uuid: "",
    token: "",
    disabled: false,
    valid: false,
    uuidRules: [(v) => !!v || "UUID es requerdo"],
    tokenRules: [(v) => !!v || "El token es requerido"],
  }),
  methods: {
    iniciar() {
      if (this.valid) {
        axios
          .get(this.API_URL + "/api/flujo/buscar/" + this.uuid, {
            headers: {
              "Content-Type": "application/json",
              Accept: "application/json",
              Authorization: "Bearer " + this.token,
            },
          })
          .then((response) => {
            if (response.data) {
              if (localStorage.getItem("token")) {
                localStorage.removeItem("token");
              }
              localStorage.setItem("token", this.token);
              this.$router.push("/" + this.uuid);
            }
            console.log(response);
          })
          .catch((error) => {
            Swal.fire({
              allowOutsideClick: false,
              title: "Error",
              text: "Datos incorrectos",
              icon: "error",
            });
          });
        //
      }
    },
  },
};
</script>
